body {
  overflow-x: hidden;
  background-color: black;
}

video {
  position: relative;
  margin-top: -7.5%;
  left: -15%;
  width: 140%;
  height: 140%;
}

nav#menu{
  position: fixed;
  display: flex;
  flex-direction: row;
  top: -1vh;
  left: -1vw;
  width: 102vw;
  height: 20vh;
  background-color: slategray;
  z-index: 2;
  align-items: center;
}

img.menuItem {
  position: relative;
  margin-top: .6%;
  flex: 2;
}

div.space1 {
  flex: 1;
}

div.space2 {
  flex: 1;
}

a {
  text-decoration:none;
}

a.menuItem {
  color: #e8ebef;
  flex: 2;
  text-align: center;
  font-size: 18pt;
}

a.menuItem:hover {
  color: #ffc10a;
  flex: 2;
}

nav a {
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 18pt;
}

a.selectedItem {
  font-family: lucida, 'lucida sans', sans-serif;
  color: #ffc10a;
  flex: 2;
  text-align: center;
  font-size: 18pt;
}

p.header {
  color: #e8ebef;
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 50pt;
  margin-left: 4%;
}

p.link {
  font-family: lucida, 'lucida sans', sans-serif;
  color: #e8ebef;
  font-size: 18pt;
  margin-left: 5%;
}

a.go {
  color: #e8ebef;
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 50pt;
  margin-left: 4%;
}

div.blog {
  background-image: url("blog.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 112.5%;
  left: -1%;
  margin-top: -27%;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}


div.projects {
  background-image: url("releases.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 112.5%;
  left: -1%;

  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

div.releases {
  background-image: url("releases.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 112.5%;
  left: -1%;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

div.team {
    background-image: url("team.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 125%;
    width: 112.5%;
    left: -1%;
    outline-style: ridge;
    outline-color: #e8ebef;
    outline-width: thick;
}

div.faq {
  background-image: url("faq.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 112.5%;
  left: -1%;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}
div.about {
  background-image: url("about.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 112.5%;
  left: -1%;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

footer p {
  color: #e8ebef;
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 10pt;
  margin-left: 2%;
}
