body {
  overflow-x: hidden;
  background-color: black;
}

nav#menu{
  position: fixed;
  display: flex;
  flex-direction: row;
  margin-top: -10vh;
  margin-left: -1vw;
  width: 105vw;
  height: 20vh;
  background-color: slategray;
  z-index: 2;
  align-items: center;
}

img.menuItem {
  position: relative;
  margin-top: .6%;
  flex: 2;
}

div.space {
  flex: 1;
}

a {
  text-decoration:none;
}

a.menuItem {
  color: #e8ebef;
  flex: 2;
  text-align: center;
  font-size: 5vh;
}

a.menuItem:hover {
  color: #ffc10a;
  flex: 2;
}

nav a {
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 5vh;
}

a.selectedItem {
  font-family: lucida, 'lucida sans', sans-serif;
  color: #ffc10a;
  flex: 2;
  text-align: center;
  font-size: 5vh;
}

p.header {
  color: #e8ebef;
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 10vh;
  margin-left: 4%;
}

p.link {
  font-family: lucida, 'lucida sans', sans-serif;
  color: #e8ebef;
  font-size: 5vh;
  margin-left: 5%;
}

a.repo {
  font-family: lucida, 'lucida sans', sans-serif;
  color: #e8ebef;
  font-size: 5vh;
  margin-left: 4%;
}

a.repo:hover {
  color: #ffc10a;
}

div.sagejs {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 90%;
  left: -1%;
  top: 20vh;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}


div.lomntool {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 90%;
  left: -1%;
  top: 20vh;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

div.lomnhook {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 90%;
  left: -1%;
  top: 20vh;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

div.shoefitterdx {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 90%;
  left: -1%;
  top: 20vh;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

div.vsosi {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 90%;
  left: -1%;
  top: 20vh;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

div.sagefileformats {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 90%;
  left: -1%;
  top: 20vh;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

div.launcher {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 125%;
  width: 90%;
  left: -1%;
  top: 20vh;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

footer p {
  position: relative;
  top: 20vh;
  color: #e8ebef;
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 3vh;
  margin-left: 4%;
}
