body {
  overflow-x: hidden;
  background-color: black;
}

nav#menu{
  position: fixed;
  display: flex;
  flex-direction: row;
  top: -1vh;
  left: -1vw;
  width: 102vw;
  height: 20vh;
  background-color: slategray;
  z-index: 2;
  align-items: center;
}

img.menuItem {
  position: relative;
  top: .2em;
  flex: 2;
}

div.space1 {
  flex: 1;
}

div.space2 {
  flex: 2;
}

a {
  text-decoration:none;
}

a.menuItem {
  color: #e8ebef;
  flex: 2;
  text-align: center;
}

a.menuItem:hover {
  color: #ffc10a;
  flex: 2;
}

nav a {
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 18pt;
}

a.selectedItem {
  font-family: lucida, 'lucida sans', sans-serif;
  color: #ffc10a;
  flex: 2;
  text-align: center;
}

p.header {
  color: #e8ebef;
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 50pt;
  margin-left: 1em;
}

p.link {
  font-family: lucida, 'lucida sans', sans-serif;
  color: #e8ebef;
  font-size: 18pt;
  margin-left: 2em;
}

a.notes {
  font-family: lucida, 'lucida sans', sans-serif;
  color: #e8ebef;
  font-size: 18pt;
  margin-left: 2em;
}

div.lomnreleases {
  background-image: url("releases.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 25em;
  width: 86em;
  left: -1em;
  top: 5em;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

footer p {
  position: relative;
  top: 28em;
  color: #e8ebef;
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 10pt;
  margin-left: 2em;
}
