body {
  overflow-x: hidden;
  background-color: black;
}

nav#menu{
  position: fixed;
  display: flex;
  flex-direction: row;
  margin-top: -1.2vh;
  margin-left: -1vw;
  width: 105vw;
  height: 20vh;
  background-color: slategray;
  z-index: 2;
  align-items: center;
}

img.menuItem {
  position: relative;
  margin-top: .6%;
  flex: 2;
}

div.space {
  flex: 1;
}

a {
  text-decoration:none;
}

a.menuItem {
  color: #e8ebef;
  flex: 2;
  text-align: center;
  font-size: 5vh;
}

a.menuItem:hover {
  color: #ffc10a;
  flex: 2;
}

nav a {
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 5vh;
}

a.selectedItem {
  font-family: lucida, 'lucida sans', sans-serif;
  color: #ffc10a;
  flex: 2;
  text-align: center;
  font-size: 5vh;
}

div.bio {
  display: flex;
  background-color: darkgray;
  position: relative;
  height: 125%;
  width: 90%;
  left: -1%;
  outline-style: ridge;
  outline-color: #e8ebef;
  outline-width: thick;
}

p.descr {
  font-family: lucida, 'lucida sans', sans-serif;
  color: #e8ebef;
  font-size: 4vh;
  margin-left: 5%;
}

footer p {
  position: relative;
  color: #e8ebef;
  font-family: lucida, 'lucida sans', sans-serif;
  font-size: 3vh;
  margin-left: 4%;
}
